@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.students__container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
  margin-top: 30px !important;
  h1 {
    font-size: 40px;
    font-family: "Ultra", serif;
    margin: 0;
    font-weight: 500;
  }
  .bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .search-input {
      padding: 10px;
      width: 70%;
      margin: 0 !important;
      transition: 0.5s;
      outline: none;
    }
    #filter {
      padding: 10px;
      width: 15%;
      outline: none;
    }
    #add {
      padding: 10px;
      width: 15%;
      border-radius: 10px;
      border: none;
      background-color: rgb(0, 117, 0);
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
  }
  #studentlist {
    width: 100%;
    * {
      font-size: 16px;
    }
    table {
      width: 100%;
    }

    thead {
      tr {
        text-align: left;
        th {
          border: none !important;
          transition: 0.5s;
          padding: 10px;
        }
      }
    }
    tbody {
      tr {
        transition: 0.2s;
        &:hover {
          background-color: #9d9d9d50;
          cursor: pointer;
        }
        td {
          padding: 10px;
        }
        .actions {
          display: flex;
          align-items: center;
          gap: 15px;
          button {
            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 16px;
          }
          #edit {
            background-color: rgb(47, 47, 255);
          }
          #delete {
            background-color: rgb(255, 47, 47);
          }
        }
      }
    }
  }
}
